#loginBar {
  background: #efefef;
}

#loginBar ul li {
  float: left;
}

#loginBar ul li a {
  display: inline-block;
  height: 30px;
  line-height: 30px;
}

#loginBar ul li a span {
  padding: 0 11px;
  border-right: 1px solid #58bc58;
}

#nav {
  height: 177px;
  border-bottom: 2px solid #D2B994;
}

#nav .nav_t {
  height: 130px;
  position: relative;
}

#nav .nav_t i:first-child {
  float: left;
  height: 61px;
  width: 115px;
  background: url("../img/sprit.fw.png") no-repeat;
  margin-top: 30px;
}

#nav .nav_t i:nth-of-type(2) {
  display: inline-block;
  height: 115px;
  width: 123px;
  background: url("../img/sprit.fw.png") -240px 0;
  margin-right: 165px;
  float: right;
  margin-top: 15px;
}

#nav .nav_t .seek {
  float: left;
  width: 450px;
  display: inline-block;
  margin-left: 200px;
  margin-top: 34px;
  position: relative;
}

#nav .nav_t .seek input {
  border: 1px solid #B5AA96;
  width: 450px;
  height: 46px;
  display: inline-block;
  font-size: 20px;
  padding-left: 10px;
  box-sizing: border-box;
}

#nav .nav_t .seek > span {
  float: right;
  width: 83px;
  border: 1px solid #B5AA96;
  height: 44px;
  position: absolute;
  right: -83px;
}

#nav .nav_t .seek ul li {
  float: left;
  padding-left: 10px;
  margin-top: 10px;
}

#nav .nav_t > span {
  display: inline-block;
  width: 140px;
  height: 40px;
  border: 1px solid #B5AA96;
  position: absolute;
  right: 0px;
  top: 43px;
  text-align: center;
  line-height: 40px;
}

#nav .nav_b {
  height: 48px;
  line-height: 48px;
  font-size: 16px;
}

#nav .nav_b h4 {
  display: inline-block;
  width: 178px;
  background: #193239;
  color: #fff;
  padding-left: 10px;
  box-sizing: border-box;
}

#nav .nav_b ul {
  margin-right: 70px;
}

#nav .nav_b ul li {
  float: left;
}

#nav .nav_b ul li a {
  padding: 0 15px;
}

#main .carousel_l {
  width: 180px;
  float: left;
  height: 400px;
}

#main .carousel_l > ul {
  position: relative;
}

#main .carousel_l > ul > li {
  background: #314349;
}

#main .carousel_l > ul > li > h4 {
  color: #fff;
  font-size: 16px;
  height: 40px;
  line-height: 40px;
  padding-left: 10px;
}

#main .carousel_l > ul > li > div {
  position: absolute;
  width: 750px;
  left: 180px;
  top: 0;
  display: none;
  background: #fff;
  height: 400px;
  padding-top: 10px;
  padding-left: 10px;
}

#main .carousel_l > ul > li > div > div {
  float: left;
  height: 180px;
  margin-left: 10px;
}

#main .carousel_l > ul > li > div > div > ul {
  width: 100px;
  float: left;
}

#main .carousel_l > ul > li > div > div > ul > li {
  float: left;
}

#main .carousel_l > ul .l_active {
  background: red;
}

#main .carousel_c {
  width: 750px;
  float: left;
  height: 400px;
  overflow: hidden;
  position: relative;
}

#main .carousel_c .caru {
  position: absolute;
}

#main .carousel_c .dot {
  position: absolute;
  z-index: 1;
}

#main .carousel_c .dot li {
  width: 15px;
  height: 15px;
  border: 1px solid #ccc;
  border-radius: 50%;
  float: left;
  margin-left: 20px;
}

#main .carousel_c .dot .active {
  background: #000;
}

#main .carousel_r {
  width: 259px;
  float: right;
  height: 400px;
  padding-left: 22px;
  box-sizing: border-box;
  position: relative;
}

#main .carousel_r span {
  display: inline-block;
  height: 30px;
  line-height: 30px;
  font-size: 16px;
  padding-left: 30px;
  margin-bottom: 20px;
}

#main .carousel_r .office ul li {
  float: left;
  width: 64px;
  height: 25px;
  font-size: 14px;
  line-height: 25px;
  margin-left: 10px;
}

#main .carousel_r i {
  width: 237px;
  height: 80px;
  position: absolute;
  right: -5px;
  bottom: 135px;
  background: url("../img/sprit.fw.png") 0 -80px;
}

#main .carousel_r .fuwu {
  margin-top: 100px;
}

#main .carousel_r .fuwu ul li {
  float: left;
  margin-left: 10px;
  height: 60px;
  padding-top: 40px;
  box-sizing: border-box;
  position: relative;
}

#main .carousel_r .fuwu ul li img {
  position: absolute;
  left: 5px;
  top: 0px;
}

#main .imgGoods {
  margin: 10px 0;
}

#main .imgGoods ul li {
  float: left;
}
